# very simple to set up a REST API with minimal code
fastapi

# most common way to run FastAPI apps
uvicorn[standard]

# for data validation (ensure incoming JSON requests are in the right shape)
pydantic

# a simple pdf parser (might change to fitz for better performance)
pypdf

# to gain access to TfidfVectorizer
scikit-learn

# to save and load the best TfidfVectorizer and the TF-IDF matrix
joblib

# a common data structure to use with scikit-learn
numpy

# use langchain to connect this chatbot with openai using openai api key
langchain-openai
langchain-core
openai

# For using web search
langchain-community
ddgs
duckduckgo-search

# Use langgraph to orchestrate the existing components
langgraph